.infos {
  padding: 1rem;
}
.pictures {
  text-align: center;
  padding: 1rem;
}
.noPhoto {
  margin: auto;
}
.artist {
  font-size: 2em;
  font-family: var(--font-title);
  color: var(--color-primary); 
}
.title {
  font-size: 1.5em;
  font-family: var(--font-title);
  color: var(--color-primary);
  margin-bottom: 15px; 
}
.likeIcon {
  cursor: pointer;
  width: 20px !important;
  height: 20px !important;
}
.conditionSleeve {
  background-color: var(--color-tertiary); 
  color: var(--color-light); 
  font-size: 0.9em;
  padding: 5px 15px;
  margin-top: 15px;
}
.conditionMedia {
  background-color: var(--color-tertiary); 
  color: var(--color-light); 
  margin-left: 10px;
  font-size: 0.9em;
  padding: 5px 15px;
  margin-top: 15px;
}
.price {
  color: var(--color-tertiary); 
  font-size: 1.5em;
  margin: 15px 0 30px;
}
.details {
  padding: 1rem;
  margin: 30px 0;
}
.description {
  margin-bottom: 30px;
}
.tracklist ol {
  list-style: decimal-leading-zero;
  padding-left: 40px;
  font-size: 0.9;
}