 .breadcrumb {
  line-height: 1.15;
  font-size: 0.9em;
}
.infos {
  padding: 1rem;
  
}
.photos {
  padding: 1rem;
  padding-right: 60px;
}
.photos * {
  width: 100% !important;
  height: auto !important;
  min-height: auto !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.artist {
  font-size: 2em;
  font-family: var(--font-title);
  color: var(--color-primary); 
}
.title {
  font-size: 1.5em;
  font-family: var(--font-title);
  color: var(--color-primary);
  margin-bottom: 15px; 
}
.likeIcon {
  cursor: pointer;
}
.conditionSleeve {
  background-color: var(--color-tertiary); 
  color: var(--color-light); 
  font-size: 0.9em;
  padding: 5px 15px;
  margin-top: 15px;
}
.conditionMedia {
  background-color: var(--color-tertiary); 
  color: var(--color-light); 
  margin-left: 10px;
  font-size: 0.9em;
  padding: 5px 15px;
  margin-top: 15px;
}
.price {
  color: var(--color-tertiary); 
  font-size: 1.5em;
  margin: 15px 0 30px;
}
.details {
  margin: 0 0 30px 0;
}
.description {
  margin-bottom: 30px;
}