.footer {
    flex-direction: row;
    justify-content :space-around;
    align-items: center;
    padding: 10px;
    height :160px;
    width:100%;
}
.staticInfos {
    flex-direction: column;
    justify-content :space-between;
    align-items: center;
    background-color:white;
    color:var(--color-primary); 
    height:50%;
    width:100%;
}
.paypalIcon {
    height:25px;
    width:25px; 
    color:var(--color-tertiary); 
}

.truckIcon {
    height:25px;
    width:25px; 
    color:var(--color-tertiary); 
}
.heartIcon {
    height:25px;
    width:25px; 
    color:var(--color-tertiary);  
}


.dynamicInfos {
    flex-direction: column;
    justify-content :space-between;
    align-items: center;
    background-color: var(--color-primary);;
    color:var(--color-light);
    height:50%;
    width:100%;
}