.staticInfos {
    background-color:white;
    color:var(--color-primary); 
    margin-bottom: 1rem;
    padding: 0 4rem;
}
.icon {
    height:40px;
    width:40px; 
    margin-right: 1rem;
    color:var(--color-tertiary); 
}
.dynamicInfos {
    background-color: var(--color-primary);;
    color:var(--color-light);
    padding: 1rem;
}