.main {
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
  }
  
   .layout {
    background-color: var(--color-light);;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  .body {
    display: flex;
    width: 100%;
    margin: 100px;
    flex-direction: column;
    padding: 2rem 0;
  }
    
  /* Titles */
  .h1 {
    font-size: 2em;
    font-family: var(--font-title);
    color: var(--color-secondary);
  }
  .h2 {
    font-size: 1.5em;
    font-family: var(--font-title);
    color: var(--color-tertiary);
    width: 100%;
    margin: 150px;
  }
  .h3 {
    font-size: 1.2em;
    font-family: var(--font-title);
    font-weight: 500;
  }
  
  