@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

/* Variables */
:root {
  --color-primary: #172A3A;
  --color-secondary: #09BC8A;
  --color-tertiary: #508991;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-grey: #eeeeee;
  --color-red: #ff0034;
  --color-green: #14ff00;
  --font-main: "Radio Canada", sans-serif;
  --font-title: "Radio Canada Big", sans-serif;
}


/* Layout */
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-main);
}

* {
  box-sizing: border-box;
}

.layout {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.content {
  display: flex;
  width: 100%;
  margin-bottom: auto;
  flex-direction: column;
  padding: 2rem 0;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 1rem;
}
.contentNew {
  border-bottom: 1px solid var(--color-light);
  margin-bottom: 2rem;
}
.box {
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-light);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* Titles */
h1.title {
  font-size: 2em;
  font-family: var(--font-title);
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
h2.title {
  font-size: 1.5em;
  font-family: var(--font-title);
  color: var(--color-tertiary);
}
h3.title {
  font-size: 1.2em;
  font-family: var(--font-title);
  font-weight: 500;
}

/* Text */
.breadcrumb {
  line-height: 1.15;
  font-size: 0.9em;
  margin-bottom: 1rem;
}
.introduction {
  margin-bottom: 2rem;
}
.link {
  color: var(--color-secondary);
  font-family: var(--font-main);
  font-weight: 600;
}


/* Buttons Styles */
.btnPrimary {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 10px 20px;
  border-radius: 8px;
  font-family: var(--font-main);
  font-size: 1em !important;
  transition: all 0.2s ease-in-out;
}
.btnPrimary:hover {
  opacity: 0.8;
}
.btnSecondary {
  background-color: var(--color-secondary);
  color: var(--color-light);
  padding: 10px 20px;
  border-radius: 8px;
  font-family: var(--font-main);
  font-size: 1em !important;
  transition: all 0.2s ease-in-out;
}
.btnSecondary:hover {
  opacity: 0.8;
}
.btnTertiary {
  background-color: var(--color-tertiary);
  color: var(--color-light);
  padding: 10px 20px;
  border-radius: 8px;
  font-family: var(--font-main);
  font-size: 1em !important;
  transition: all 0.2s ease-in-out;
}
.btnTertiary:hover {
  opacity: 0.8;
}

/* Ant Menu */
.ant-menu-root {
  background: transparent !important;
  width: -webkit-fill-available;
  justify-content: center;
  align-items: center;
}
.ant-menu-root > ul > li {
  margin: 0 2rem;
  font-family: var(--font-main);
  transition: all 0.2s ease-in-out;
}
.ant-menu-root > li > span.ant-menu-title-content,
.ant-menu-root > li > div > span.ant-menu-title-content {
  text-transform: uppercase !important;
  color: var(--color-light) !important;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: var(--font-title);
} 

/* Gallery */
.image-gallery-thumbnails-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-gallery-content:not(.fullscreen) .image-gallery-slide .image-gallery-image {
  min-height: 350px !important;
  max-height: 350px !important;
}
.image-gallery-thumbnail:hover {
  border: 4px solid var(--color-tertiary) !important;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  border: 4px solid var(--color-secondary) !important;
}

/* Forms */
.ant-form-item {
  margin-bottom: 10px;
}