@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --color-primary: #172A3A;
  --color-secondary: #09BC8A;
  --color-tertiary: #508991;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-grey: #eeeeee;
  --font-main: "Radio Canada", sans-serif;
  --font-title: "Radio Canada Big", sans-serif;
}


/* Layout */
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-main);
}

* {
  box-sizing: border-box;
}

.layout {
  background-color: var(--color-light);;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.content {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: column;
  padding: 2rem 0;
}
.row {
  width: 100%;
  margin-bottom: 2rem;
}
.card {
  padding: 1rem;
}


/* Titles */
h1.title {
  font-size: 2em;
  font-family: var(--font-title);
  color: var(--color-secondary);
}
h2.title {
  font-size: 1.5em;
  font-family: var(--font-title);
  color: var(--color-tertiary);
}
h3.title {
  font-size: 1.2em;
  font-family: var(--font-title);
  font-weight: 500;
}


/* Buttons Styles */
.btnPrimary {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 10px 20px;
  border-radius: 8px;
  font-family: var(--font-main);
  font-size: 1em !important;
}
.btnSecondary {
  background-color: var(--color-secondary);
  color: var(--color-light);
  padding: 10px 20px;
  border-radius: 8px;
  font-family: var(--font-main);
  font-size: 1em !important;
}
.btnTertiary {
  background-color: var(--color-tertiary);
  color: var(--color-light);
  padding: 10px 20px;
  border-radius: 8px;
  font-family: var(--font-main);
  font-size: 1em !important;
}

/* Ant Menu */
.ant-menu {
  background: transparent !important;
  width: -webkit-fill-available;
  justify-content: center;
  align-items: center;
}
.ant-menu > ul > li {
  
  margin: 0 30px;
  font-family: var(--font-main);
  transition: all 0.2s ease-in-out;
}
.ant-menu .ant-menu-title-content {
  text-transform: uppercase !important;
  color: var(--color-light) !important;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: var(--font-title);
}

