.main {
    background-color: var(--color-primary);
    height: 170px;
}
.content {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.logo {
    max-height: 120px;
    width: 200px;
    cursor: pointer;
    margin-right: 15px;
}
.search {
    border-bottom: 1px solid var(--color-light);
    width: 350px;
    display: flex;
    align-items: center;
}
.searchIcon,
.searchResetIcon,
.searchSubmitIcon {
    color: var(--color-light);
    width: 20px; 
}
.searchResetIcon,
.searchSubmitIcon {
    cursor: pointer;
    margin: 0 3px;
}
.searchInput,
.searchInput:hover,
.searchInput:focus,
.searchInput:active {
    background: transparent !important;
    color: var(--color-light) !important;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    font-family: var(--font-main);
}
.searchInput:-webkit-autofill,
.searchInput:-webkit-autofill:hover, 
.searchInput:-webkit-autofill:focus, 
.searchInput:-webkit-autofill:active {
    background: transparent !important;
    -webkit-box-shadow: 0 0 0 50px var(--color-primary) inset !important;
    -webkit-text-fill-color: var(--color-light) !important;
    color: var(--color-light) !important;
    font-family: var(--font-main) !important;
}
.searchInput::placeholder {
    color: var(--color-light) !important;
}
.rightContent {

}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.icons div {
    position: relative;
}
.icons div > * {
    color: var(--color-light);
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
}
.icons > *:hover {
    opacity: 0.8;
    cursor: pointer;
}
.nbCartItems {
    background-color: var(--color-secondary);
    color: var(--color-light);
    width: 20px;
    height: 22px;
    line-height: 20px;
    border-radius: 2px 2px 0 0;
    display: block;
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    top: -20px;
    right: -2px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}
.userMessage {
    color: var(--color-light);
    text-align: center;
    font-size: 0.8em;
    width: 200px;
    margin-top: 10px;
}
.menu {
    background-color: var(--color-secondary);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}