.main {
    background-color: var(--color-primary);
    height: 190px;
}
.content {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.logo {
    height: 120px;
    width: 200px;
    cursor: pointer;
}
.search {
    border-bottom: 1px solid var(--color-light);
    width: 350px;
    display: flex;
    align-items: center;
}
.searchIcon{
    color: var(--color-light);
    width: 20px;
}
.searchInput {
    background: transparent;
    color: var(--color-light);
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    font-family: var(--font-main);
}
.searchInput::placeholder {
    color: var(--color-light);
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
}
.icons > * {
    color: var(--color-light);
    max-width: 30px;
    max-height: 30px;
    margin: 0 15px;
    transition: all 0.2s ease-in-out;
}
.icons > *:hover {
    opacity: 0.8;
    cursor: pointer;
}
.menu {
    background-color: var(--color-secondary);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*.menu a {
    color: var(--color-light);
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 0 30px;
    font-family: var(--font-main);
    transition: all 0.2s ease-in-out;
}
.menu a:hover {
    opacity: 0.8;
    cursor: pointer;
}*/