/* /* /* @font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Heavy.otf");
}

.container {
  display: flex;
}

.containerLogin {
  display: flex;
  background-color: aqua;
  height: 80vh;
} */


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleConnexion {
  background-color: rgb(232, 224, 224);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: large;
}

/* .signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  margin-bottom: 15px;
  background-color: #409BF1;
  border-radius: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.signUp:hover {
  background-color: #3384cf;
}

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  border: 1px rgb(114, 131, 148) solid;
  border-radius: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.signIn:hover {
  background-color: #24374a;
}

.signUpText {
  color: white;
} */

/* .title {
  margin-top: 50px;
} */  