.articlesContainer {
    margin-bottom: 2rem;
}
.orderInfosContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.addressContainer {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    border-color: var(--color-tertiary);
}
.addressContentContainer {
    margin-bottom:10px;
}
.addressLine {
    border-bottom: 1px solid;
    border-color: var(--color-grey);
    padding: 0.5rem;
    margin-right: 1rem;
}

.label {
    display: inline-block;
    position: relative;
    width:90%;
}
.deliveryContainer {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    border-color: var(--color-tertiary);
}
.paymentContainer {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    /* border-bottom: 1px solid;
    border-color: var(--color-tertiary);  */
}
.icon {
    color: var(--color-primary);
}

.validationOrderInfos {
    padding-bottom: 1rem;
    padding-top: 1rem;
}